# Python
__pycache__/
*.py[cod]
*.pyd
*.pyo
*.so
.Python
.coverage
.coverage.*
.hypothesis/
.mypy_cache/
.nox/
.pytest_cache/
.pyre/
.ruff_cache/
.tox/
.venv/
ENV/
env/
venv/
build/
dist/
htmlcov/
pip-wheel-metadata/
site/
*.egg
*.egg-info/

# TypeScript / Node
node_modules/
.npm/
.pnpm-store/
.yarn/
.yarn-cache/
.next/
.nuxt/
.parcel-cache/
.svelte-kit/
.turbo/
coverage/
dist-ssr/
*.tsbuildinfo
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editors / OS
.DS_Store
Thumbs.db
.idea/
.vscode/

# Ignore secrets
deploy_script.ps1
